<!DOCTYPE html>
<!-- Vedi la pagina di Bootstrap -->
<html lang="it">
<!-- Intestazione -->
<head>
    <!-- Titolo -->
    <title>Dom Elo</title>
    <!-- Icona -->
    <link rel="icon" href="https://dominion.games/favicon.ico">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Style-->
    <style>
        body {
            background-image: url("https://dominion.games/images/large/adventures.jpg");
        }
    </style>
</head>
<!--Corpo-->
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Brand -->
        <a class="navbar-brand" href=".">
            <img src="https://dominion.games/favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
            Dom Elo
        </a>
        <!-- Tasto per espandere la navbar -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Contenuto collassabile della navbar -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!--- Link alla pagina iniziale -->
                <li class="nav-item">
                    <a class="nav-link" href=".">Home</a>
                </li>
                <!--- Link al sito dominion -->
                <li class="nav-item">
                    <a class="nav-link" href="https://dominion.games" target="_blank">
                        Dominion
                    </a>
                </li>
                <!-- Account -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Account</a>
                </li>
                <!-- Login -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Altro
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/elo_table">Tavola Elo</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Contenuto -->
    <div class="container py-3">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
