{% extends "base_restricted.html" %}
{% block Title %}
    Tavola Elo
{% endblock %}
{% block Restricted %}
<div class="p-3 mb-2 bg-dark text-white rounded">
    <h1>Tavola Elo</h1>
    <hr class="bg-white">
<table class="table table-sm table-hover table-bordered table-dark">
    <!-- Table Head-->
    <thead class="thead-dark">
    <tr>
        {% for col_name in header %}
        <th scope="col"> {{col_name}} </th>
        {% endfor %}
    </tr>
    </thead>
    <!-- Table Body-->
    <tbody>
    {% for row in data %}
    <tr>
        <th scope="row">{{row.0}}</th>
        {% for item in row|slice:"1:" %}
        <td>{{item}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
<form action="elo_table" method="post" id="update_form" >
{% csrf_token %}
    <div class="d-flex mx-5">
        <button type="submit" class="btn btn-primary" value="update" name="update_elo">
            <i class="bi bi-arrow-repeat"></i>
            Aggiorna Elo
        </button>
        <button type="submit" class="btn btn-danger ml-auto" value="reset" name="reset_elo">
            <i class="bi bi-arrow-clockwise"></i>
            Resetta Elo
        </button>
    </div>
</form>
</div>
{% endblock %}
