{% extends "restricted-content-75.html" %}

{% block Title %}
    Gestisci i Tornei
{% endblock %}

{% block Content-75 %}
    <!-- Select -->
    <form method="post" class="form-group">
    {% csrf_token %}
        <div class="my-3">
            <label for="select_tournament">Seleziona il torneo</label>
            <select class="form-control" name="tour_id" id="select_tournament">
                {% for tour in tours %}
                    <option value="{{ tour.2 }}">{{tour.0}} ({{tour.1}})</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">
            Vai al torneo
            <i class="bi bi-arrow-right"></i>
        </button>
    </form>
    <!-- Rimando a creane uno nuovo -->
    <p>
        oppure
    </p>
    <a href="{% url 'new_tournament' %}" class="btn btn-success">
        Crea un nuovo torneo
        <i class="bi bi-clipboard-plus"></i>
    </a>

{% endblock %}
