{% extends "restricted-content-75.html" %}

{% block Title %}
    Nuovo albo
{% endblock %}

{% block Content-75 %}
<form method="POST" class="form-group">
{% csrf_token %}
    <!-- Select Player -->
    <div class="my-3">
        <label for="select_tournament">Seleziona il torneo</label>
        <select class="form-control" name="player_id" id="select_player">
            {% for player in players %}
                <option value="{{player.id}}">{{player.username}}</option>
            {% endfor %}
        </select>
    </div>
    <!-- Select Torneo-->
    <div class="my-3">
        <label for="select_tournament">Seleziona il torneo</label>
        <select class="form-control" name="tour_id" id="select_tournament">
            {% for tour in tours %}
                <option value="{{ tour.2 }}">{{tour.0}} ({{tour.1}})</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-success">
        Registra entrata
    </button>
</form>
{% endblock %}
