{% extends "base_restricted.html" %}

{% block Title %}
    Variazioni
{% endblock %}

{% block Restricted %}
<div class="p-3 mb-2 bg-dark text-white rounded">
    <!-- Titolo -->
    <h1>
        Variazioni
    </h1>
    <hr class="bg-white">
    <!-- Tabella -->
    <table class="table table-sm table-hover table-bordered table-dark">
        <!-- Table Head-->
        <thead class="thead-dark">
            <tr>
                {% for col_name in header %}
                <th scope="col"> {{col_name}} </th>
                {% endfor %}
            </tr>
            <!-- MVPs-->
            <tr>
                <th scope="row">MVPs vinti</th>
            {% for mvp in mvps %}
                <td> {{mvp}} </td>
            {% endfor %}
                <td>
                    {{max_mvp_name}}
                </td>
                <td>
                    {{min_mong_name}}
                </td>
            </tr>
            <!-- Mongolini -->
            <tr>
                <th scope="row">Mongolini aurei</th>
            {% for mongo in mongos %}
                <td> {{mongo}} </td>
            {% endfor %}
                <td>
                    {{max_mvp|floatformat:1}}
                </td>
                <td>
                    {{min_mong|floatformat:1}}
                </td>
            </tr>
        </thead>
        <!-- Table Body-->
        <tbody>
        <!-- Variazioni -->
        {% for row in data %}
            <tr>
                <th scope="row">{{row.0}}</th>
                {% for item in row|slice:'1:' %}
                    <td>{{item}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
