<!DOCTYPE html>
<!-- Vedi la pagina di Bootstrap -->
<html lang="it">
<!-- Intestazione -->
<head>
    <!-- Titolo -->
    <title>
        {% block Title %}
            Dominion Elo
        {% endblock %}
    </title>
    <!-- Icona -->
    <link rel="icon" href="https://dominion.games/favicon.ico">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Icone Bootstrap https://icons.getbootstrap.com/ -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <!-- Style-->
    <style>
        body {
            background-image: url("https://dominion.games/images/large/adventures.jpg");
        }
    </style>
</head>
<!--Corpo-->
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="https://dominion.games/favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
            Dom Elo
        </a>
        <!-- Tasto per espandere la navbar -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Contenuto collassabile della navbar -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Link a destra -->
            <ul class="navbar-nav mr-auto">
                <!--- Link alla pagina iniziale -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">
                        Home <i class="bi bi-house-fill"></i>
                    </a>
                </li>
                <!--- Link al sito dominion -->
                <li class="nav-item">
                    <a class="nav-link" href="https://dominion.games" target="_blank">
                        Dominion
                        <i class="bi bi-link-45deg"></i>
                    </a>
                </li>
                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Altro
                        <i class="bi bi-list"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'elo_table' %}">Tavola Elo</a>
                        <a class="dropdown-item" href="{% url 'new_tournament' %}">Nuovo Torneo</a>
                        <a class="dropdown-item" href="{% url 'manage_tournaments' %}">Gestisci i tornei</a>
                        <a class="dropdown-item" href="{% url 'leaderboard' %}">Classifica</a>
                    </div>
                </li>
            </ul>
            <!-- Link a sinistra -->
            <ul class="navbar-nav ml-auto">
                <!-- Account -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">
                        Account
                        <i class="bi bi-person-fill"></i>
                    </a>
                </li>
                <!-- Login e Logout -->
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">
                            Logout
                            <i class="bi bi-box-arrow-right"></i>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}?next={% firstof request.path '/' %}">
                            Login
                            <i class="bi bi-box-arrow-in-right"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- Contenuto -->
    <div class="container py-3">
        {% block Content %}
        {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
