{% extends "base.html" %}
{% block Content %}
    <!-- Contenuto -->
    <div class="container py-3">
        {% if user.is_authenticated %}
            {% block Restricted %}
            {% endblock %}
        {% else %}
            <div class="w-75 p-4 m-2 bg-dark text-white rounded">
                <h1> Accedi o registrati</h1>
                <p> Se vedi questo messaggio è perchè non hai eseguito il login
                    e stai cercando di accedere ad una pagina riservata.
                    <br>
                    <a href="{% url 'login' %}?next={% firstof request.path '/' %}">Accedi</a> o <a href="{% url 'register' %}">registrati</a> per accedere a questa pagina.
                </p>
            </div>
        {% endif %}
    </div>
{% endblock %}
 