{% extends "restricted-content-75.html" %}

{% load filters %}

{% block Title %}
    Albo dei Campioni
{% endblock %}

{% block Content-75 %}
    <div class="m-3">
        <!-- Champions 3/3 -->
        <h3>Campioni 3/3 👑</h3>
        <hr class="bg-white">
        {{ df_champions_3 | df_to_html }}
        <!-- Champions 4/4 -->
        <h3>Campioni 4/4 👑</h3>
        <hr class="bg-white">
        {{ df_champions_4 | df_to_html }}
        <!-- Champions 5/5 -->
        <h3>Campioni 5/5 👑</h3>
        <hr class="bg-white">
        {{ df_champions_5 | df_to_html }}
    </div>
{% endblock %}
