{% extends "restricted-content-100.html" %}

{% block Title %}
    Punteggi attesi
{% endblock %}

{% block Content-100 %}
<h1>Punteggi attesi</h1>
<hr class="bg-white">
<!-- Tabella -->
<table class="table table-sm table-dark table-bordered">
    <!-- Nomi -->
    <thead class="thead-dark">
        <tr>
        {% for player in players %}
            <th scope="col" class="text-center">
                {{player.username}}
            </th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
        <!-- Check box -->
        <tr>
        {% for player in players %}
            <td align="center">
                <label class="form-check-label w-100 h-100">
                    <input class="check" type="checkbox" id="c_{{player.id}}" onchange="checkBox()">
                </label>
            </td>
        {% endfor %}
        </tr>
        <!-- Punteggi vecchi -->
        <tr>
            {% for elo in elos %}
            <td align="center">{{elo.elo|floatformat:0 }}</td>
            {% endfor %}
        </tr>
        <!-- Punteggio atteso -->
        <tr>
            {% for player in players %}
            <td align="center" id="e_{{player.id}}"> - </td>
            {% endfor %}
        </tr>
        <!-- Input esiti -->
        <tr>
            {% for player in players %}
            <td align="center">
                <input
                    type="number" 
                    id="{{player.id}}"
                    class="form-control border-0 bg-dark text-white" 
                    min="0" 
                    max="10" 
                    step="0.5"
                    oninput="newElo.call(this)"
                    disabled
                >
            </td>
            {% endfor %}
        </tr>
        <!-- Punteggi Nuovi -->
        <tr>
            {% for elo in elos %}
            <td align="center" id="n_{{elo.player_id_id}}">{{elo.elo|floatformat:0 }}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>
{% endblock %}

{% block Javascript %}
<script>
    var url = "{% url 'expected_ajax' %}";
</script>
{% load sri %}
{% sri_static 'js/expected.js' %}
{% endblock %}
