{% extends "restricted-content-75.html" %}

{% block Title %}
    Gestisci i Tornei
{% endblock %}

{% block Content-75 %}
    <!-- Select -->
    <div class="my-3">
        <label for="select_tournament">Seleziona il torneo</label>
        <select class="form-control" id="select_tournament" onchange="selectTournament()">
            {% for tour in tours %}
                <option value="{% url 'modify_tournament' tour.2 %}">{{tour.0}} ({{tour.1}})</option>
            {% endfor %}
        </select>
    </div>
    <a id="tour" class="btn btn-primary" href="{% url 'modify_tournament' tours.0.2 %}">
        Vai al torneo
        <i class="bi bi-arrow-right"></i>
    </a>
    <!-- Rimando a creane uno nuovo -->
    <p>
        oppure
    </p>
    <a href="{% url 'new_tournament' %}" class="btn btn-success">
        Crea un nuovo torneo
        <i class="bi bi-clipboard-plus"></i>
    </a>
{% endblock %}
    
{% block Javascript %}
{% load sri %}
{% sri_static 'js/select_tour.js' %}
{% endblock %}
