{% extends "restricted-content-75.html" %}

{% block Title %}
Nuovo Torneo
{% endblock %}

{% block Content-75 %}
<!-- Form per raccogliere le presenze -->
<!-- Titolo -->
<h1>
    Partecipanti
    <i class="bi bi-people-fill"></i>
</h1>
<hr class="bg-white">
<!-- Warning -->
<div id="warning" class="alert alert-warning alert-dismissible fade show" role="alert" {% if not warning %} style="display:none" {% endif %}>
    <strong>Attenzione!</strong>
    <p id="warning_message" style="display:inline">
        {{ warning }}
    </p>
    <button type="button" class="close" onclick="$('#warning').hide();">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<!-- Form -->
<div class="px-3 m-3">
    <form method="POST" class="form-group">
        {% csrf_token %}
        <table class="table table-sm table-dark table-bordered">
            <!-- Nomi -->
            <thead class="thead-dark">
                <tr>
                    {% for player in players %}
                    <th scope="col" class="text-center">
                        {{player.username}}
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody id="table">
                <!-- Check box -->
                <tr>
                    {% for player in players %}
                    <td align="center">
                        <label class="form-check-label w-100 h-100">
                            <!-- Vero Input-->
                            <input type="hidden" name="p_{{player.id}}" value="0" />
                            <!-- CheckBox che controlla il valore dell'hidden-->
                            <input type="checkbox" onclick="fun.call(this)">
                        </label>
                    </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        <!--- Submit -->
        <button id="button" type="submit" class="btn btn-success" name="player_num" value="0" disabled data-toggle="tooltip"
            data-placement="top" title="Crea il torneo con i dati inseriti.">
            Crea nuovo torneo
            <i class="bi bi-clipboard-plus"></i>
        </button>
    </form>
</div>
{% endblock %}

{% block Javascript %}
{% load sri %}
{% sri_static 'js/new_tour.js' %}
{% endblock %}
