{% extends "restricted-content-75.html" %}

{% block Title %}
    Variazioni
{% endblock %}

{% block Content-75 %}
<!-- Titolo -->
<div class="sticky-top bg-dark" style="top:50px; z-index:0;">
    <h1>
        Variazioni
    </h1>
    <hr class="bg-white">
</div>
<!-- Tabella -->
<table class="table table-sm table-hover table-bordered table-dark">
    <!-- Table Head-->
    <thead class="thead-dark">
        <tr>
            {% for col_name in header %}
            <th scope="col" class="bg-dark sticky-top" style="top:114px; z-index:0;"> {{col_name}} </th>
            {% endfor %}
        </tr>
        <!-- MVPs-->
        <tr>
            <th scope="row">MVPs vinti</th>
            {% for mvp in mvps %}
            <td>
                {{mvp}} 
            </td>
            {% endfor %}
            <td>
                {{max_mvp_name}}
            </td>
            <td>
                {{min_mong_name}}
            </td>
        </tr>
        <!-- Mongolini -->
        <tr>
            <th scope="row">Mongolini aurei</th>
            {% for mongo in mongos %}
            <td> 
                {{mongo}} 
            </td>
            {% endfor %}
            <td
                data-toggle="tooltip" 
                data-placement="top" 
                title="Miglior MVP mai preso"
            >
                {{max_mvp|floatformat:1}}
            </td>
            <td
                data-toggle="tooltip" 
                data-placement="top" 
                title="Peggior Mongolino mai preso"
            >
                {{min_mong|floatformat:1}}
            </td>
        </tr>
    </thead>
    <!-- Table Body-->
    <tbody>
    <!-- Variazioni -->
    {% for row in data %}
        <tr>
            <th scope="row">{{row.0}}</th>
            {% for item in row|slice:'1:' %}
            <td>
                {{item}}
            </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
